@model InvoiceApp.Models.TrInvoice
@{

    var details = Model.InvoiceDetails;
    var courierFee = Model?.CourierFee ?? 0m;
    var subtotal = details.Sum(d => d.Qty * d.Price);
    var totalWeight = details.Sum(d => d.Weight * d.Qty);
    var courierTotal = courierFee * (decimal)totalWeight;
    var grandTotal = subtotal + courierTotal;

}


@if (details != null && details.Any())
{

     <!-- Table Section -->
        <div class="row mt-4">
            <div class="col-12 d-flex justify-content-center">
                <div style="width: 97%;"> 
                    <table class="table table-sm text-center" style="color: black; border-color: black;">
                        <thead>
                            <tr style="color: black;">
                                <th style="width: 40%; border: 1px solid black; font-weight: normal;">Item</th>
                                <th style="width: 15%; border: 1px solid black; font-weight: normal;">Weight (Kg)</th>
                                <th style="width: 15%; border: 1px solid black; font-weight: normal;">QTY</th>
                                <th style="width: 15%; border: 1px solid black; font-weight: normal;">Unit Price</th>
                                <th style="width: 15%; border: 1px solid black; font-weight: normal;">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                             @foreach (var item in details)
                                {
                                    <tr>
                                        <td style="border: 1px solid black;">@item.Product?.ProductName</td>
                                        <td style="border: 1px solid black;">@item.Weight</td>
                                        <td style="border: 1px solid black;">@item.Qty</td>
                                        <td style="border: 1px solid black;">@item.Price.ToString("C")</td>
                                        <td style="border: 1px solid black;">@(Math.Round(item.Qty * item.Price, 2).ToString("C"))</td>
                                    </tr>
                                }
                            <!-- Total Section -->
                            <tr>
                                <td style="border: none;"></td>
                                <td style="border: none;"></td>
                                <td style="border: none;"></td>
                                <td style="text-align: left; font-weight: bold; border: none;">Subtotal</td>
                                <td style="text-align: right; font-weight: bold; border: none;">@subtotal.ToString("C")</td>
                            </tr>
                            <tr>
                                <td style="border: none;"></td>
                                <td style="border: none;"></td>
                                <td style="border: none;"></td>
                                <td style="text-align: left; font-weight: bold; border: none;">Courier Fee</td>
                                <td style="text-align: right; font-weight: bold; border: none;">@courierTotal.ToString("C")</td>
                            </tr>
                            <tr>
                                <td style="border: none;"></td>
                                <td style="border: none;"></td>
                                <td style="border: none;"></td>
                                <td style="text-align: left; font-weight: bold; border: none;">Total</td>
                                <td style="text-align: right; font-weight: bold; border: none;">@grandTotal.ToString("C")</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- END Table Section -->

}
