@model IEnumerable<InvoiceApp.Models.TrInvoiceDetail>

@if (Model != null && Model.Any())
{

     <!-- Table Section -->
        <div class="row mt-4">
            <div class="col-12 d-flex justify-content-center">
                <div style="width: 97%;"> 
                    <table class="table table-sm text-center" style="color: black; border-color: black;">
                        <thead>
                            <tr style="color: black;">
                                <th style="width: 40%; border: 1px solid black; font-weight: normal;">Item</th>
                                <th style="width: 15%; border: 1px solid black; font-weight: normal;">Weight (Kg)</th>
                                <th style="width: 15%; border: 1px solid black; font-weight: normal;">QTY</th>
                                <th style="width: 15%; border: 1px solid black; font-weight: normal;">Unit Price</th>
                                <th style="width: 15%; border: 1px solid black; font-weight: normal;">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                             @foreach (var item in Model)
                                {
                                    <tr>
                                        <td style="border: 1px solid black;">@item.Product?.ProductName</td>
                                        <td style="border: 1px solid black;">@item.Weight</td>
                                        <td style="border: 1px solid black;">@item.Qty</td>
                                        <td style="border: 1px solid black;">@item.Price.ToString("C")</td>
                                        <td style="border: 1px solid black;">@(item.Qty * item.Price).ToString("C")</td>
                                    </tr>
                                }
                            <!-- Total Section -->
                            <tr>
                                <td style="border: none;"></td>
                                <td style="border: none;"></td>
                                <td style="border: none;"></td>
                                <td style="text-align: left; font-weight: bold; border: none;">Subtotal</td>
                                <td style="text-align: right; font-weight: bold; border: none;">9999</td>
                            </tr>
                            <tr>
                                <td style="border: none;"></td>
                                <td style="border: none;"></td>
                                <td style="border: none;"></td>
                                <td style="text-align: left; font-weight: bold; border: none;">Courier Fee</td>
                                <td style="text-align: right; font-weight: bold; border: none;">9999</td>
                            </tr>
                            <tr>
                                <td style="border: none;"></td>
                                <td style="border: none;"></td>
                                <td style="border: none;"></td>
                                <td style="text-align: left; font-weight: bold; border: none;">Total</td>
                                <td style="text-align: right; font-weight: bold; border: none;">9999999</td>
                            </tr>

                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- END Table Section -->

}
