@model InvoiceApp.Models.TrInvoice

@{
    var details = Model.InvoiceDetails;
    var courierFee = Model?.CourierFee ?? 0m;
    var subtotal = details.Sum(d => d.Qty * d.Price);
    var totalWeight = details.Sum(d => d.Weight * d.Qty);
    var courierTotal = courierFee * (decimal)totalWeight;
    var grandTotal = subtotal + courierTotal;
}

@if (details != null && details.Any())
{
    <!-- Editable Form -->
    @using (Html.BeginForm("UpdateInvoiceDetails", "TrInvoice", FormMethod.Post))
    {
        @Html.Hidden("InvoiceNo", Model.InvoiceNo)

        <div class="row mt-4">
            <div class="col-12 d-flex justify-content-center">
                <div style="width: 97%;">
                    <table class="table table-sm text-center" style="color: black; border-color: black;">
                        <thead>
                            <tr>
                                <th style="width: 40%; border: 1px solid black;">Item</th>
                                <th style="width: 15%; border: 1px solid black;">Weight (Kg)</th>
                                <th style="width: 15%; border: 1px solid black;">QTY</th>
                                <th style="width: 15%; border: 1px solid black;">Unit Price</th>
                                <th style="width: 15%; border: 1px solid black;">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < details.Count(); i++)
                            {
                                var item = details.ElementAt(i);

                                <!-- Hidden fields to track key values -->
                                @Html.Hidden($"InvoiceDetails[{i}].InvoiceNo", item.InvoiceNo)
                                @Html.Hidden($"InvoiceDetails[{i}].ProductID", item.ProductID)

                                <tr>
                                    <td style="border: 1px solid black;">
                                        @item.Product?.ProductName
                                    </td>
                                    <td style="border: 1px solid black;">
                                        <input type="number" step="0.01" class="form-control text-center"
                                               name="InvoiceDetails[@i].Weight" value="@item.Weight" />
                                    </td>
                                    <td style="border: 1px solid black;">
                                        <input type="number" class="form-control text-center"
                                               name="InvoiceDetails[@i].Qty" value="@item.Qty" />
                                    </td>
                                    <td style="border: 1px solid black;">
                                        <input type="number" step="0.01" class="form-control text-center"
                                               name="InvoiceDetails[@i].Price" value="@item.Price" />
                                    </td>
                                    <td style="border: 1px solid black;">
                                        @{
                                            var total = item.Qty * item.Price;
                                            var formatted = total % 1 == 0 ? total.ToString("C0") : total.ToString("C2");
                                        }
                                        @formatted
                                    </td>
                                </tr>
                            }

                            <!-- Summary -->
                            <tr>
                                <td colspan="3"></td>
                                <td style="text-align: left; font-weight: bold;">Subtotal</td>
                                <td style="text-align: right; font-weight: bold;">@subtotal.ToString("C0")</td>
                            </tr>
                            <tr>
                                <td colspan="3"></td>
                                <td style="text-align: left; font-weight: bold;">Courier Fee</td>
                                <td style="text-align: right; font-weight: bold;">@courierTotal.ToString("C0")</td>
                            </tr>
                            <tr>
                                <td colspan="3"></td>
                                <td style="text-align: left; font-weight: bold;">Total</td>
                                <td style="text-align: right; font-weight: bold;">@grandTotal.ToString("C0")</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="text-left mt-3">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    }
}
